Repository mtctech/picex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, stylelint

.lintstagedrc.json:

{
	"*.{ts,tsx,js,jsx,json}": "prettier-eslint --write",
	"*.{css,scss,sass,less}": "stylelint"
}

fix: support upload btn visible prop
  src/components/common/Operators.tsx
  src/components/common/UploadBox.tsx
Due: prettier-eslint --write

fix: support custom err msg
  example/index.tsx
  src/components/common/UploadBox.tsx
Due: prettier-eslint --write

Notes added by 'git notes add'
  8d0e5096919a93c46c57bc937fbfba684db546f2
Due: none

fix: close btn of first row images are clipped by overflow
  src/tools/background/components/Panel.tsx
Due: prettier-eslint --write

fix: can't drag due when using controlled hexa value
  src/tools/background/components/Colours.tsx
Due: prettier-eslint --write

Notes added by 'git notes add'
  082b75bdced80cd78dcbd291efdb857affbc6555
Due: none

fix: color of hr in dark mode
  src/tools/background/index.css
Due: stylelint

Notes added by 'git notes add'
  7f52437de61cc0f3e831a98ba48834fe5eacff8b
Due: none

fix: unexpected break when displaying scrollbar on windows
  src/tools/background/components/Panel.tsx
Due: prettier-eslint --write

Notes added by 'git notes add'
  f0e6aa09b65de6b6ac52eee22cb2eda4663e15e4
Due: none

fix: 后台编辑器，色卡外圈要加上描边
  src/tools/background/components/Colours.tsx
Due: prettier-eslint --write

fix: 后台编辑器，列表滚动条样式问题
  src/tools/background/components/Panel.tsx
  src/tools/background/index.css
Due: prettier-eslint --write, stylelint

Notes added by 'git notes add'
  95dd77b38957309f8dce44aa52b5cd3da33dd348
Due: none

feat: add image-to-image tool
  src/components/Editor.tsx
  src/components/Layout.tsx
  src/components/ToolBar.tsx
  src/tools/background/index.tsx
  src/tools/background/types.ts
  src/tools/image-to-image/components/Colours.tsx
  src/tools/image-to-image/icon.svg
  src/tools/image-to-image/index.css
  src/tools/image-to-image/index.tsx
  src/tools/image-to-image/types.ts
  src/tools/index.ts
  src/tools/resize/index.tsx
  src/tools/types.ts
Due: prettier-eslint --write, stylelint

fix: simple responsive design for mobile
  example/index.html
  example/index.tsx
  src/components/Editor.tsx
  src/components/Layout.tsx
  src/components/ToolBar.css
  src/components/ToolBar.tsx
  src/components/common/HistoryBtns.tsx
  src/components/common/Operators.tsx
Due: prettier-eslint --write, stylelint

fix: support left/right className and style
  src/components/Editor.tsx
  src/components/ToolBar.tsx
Due: prettier-eslint --write

feat: support change tool
  src/components/Design.tsx
  src/components/Editor.tsx
  src/components/ToolBar.tsx
  src/tools/background/index.tsx
  src/tools/custom-tool/icon.svg
  src/tools/custom-tool/index.css
  src/tools/custom-tool/index.tsx
  src/tools/custom-tool/types.ts
  src/tools/index.ts
Due: prettier-eslint --write, stylelint

Notes added by 'git notes add'
  3703e3c38fb89ef2f3c706ffcb72f70f495f298c
Due: none

feat: add custom classname in layout
  src/components/Editor.tsx
  src/components/Layout.tsx
  src/tools/types.ts
Due: prettier-eslint --write

Notes added by 'git notes add'
  665ea385a2a8a8c1347c1cf9515b32c43ba21c2c
Due: none

fix: picex tool style
  example/index.tsx
  src/components/ToolBar.css
  src/components/ToolBar.tsx
  src/tools/background/icon.svg
  src/tools/custom-tool/icon.svg
Due: prettier-eslint --write, stylelint

Notes added by 'git notes add'
  0ab7fea013504cdb16c65fcb79b577d8177cf213
Due: none

fix: tool disbaled
  src/tools/background/index.tsx
  src/tools/background/types.ts
  src/tools/custom-tool/types.ts
Due: prettier-eslint --write

Notes added by 'git notes add'
  f92357c90c270df7fc1dff6818ceab7e2bf16852
Due: none

fix: toolbar style
  src/components/ToolBar.tsx
  src/tools/background/components/Panel.tsx
  src/tools/background/index.tsx
  src/tools/background/types.ts
Due: prettier-eslint --write

Notes added by 'git notes add'
  735b5cfae252dbb8063af8f03c3fc4c2169a6879
Due: none

refactor: decoupling layout style and tool
  src/components/Editor.tsx
  src/components/Layout.tsx
  src/tools/custom-tool/index.css
  src/tools/custom-tool/index.tsx
  src/tools/custom-tool/types.ts
  src/tools/custom/icon.svg
  src/tools/custom/index.tsx
  src/tools/custom/types.ts
  src/tools/image-to-image/components/Colours.tsx
  src/tools/image-to-image/icon.svg
  src/tools/image-to-image/index.css
  src/tools/image-to-image/index.tsx
  src/tools/image-to-image/types.ts
  src/tools/index.ts
  src/tools/types.ts
Due: prettier-eslint --write, stylelint

fix: rerun release
  example/index.tsx
Due: prettier-eslint --write

Notes added by 'git notes add'
  091c5c3d2a8a779e6e4c4f514190067ed3b09d1b
Due: none

fix: layout style
  src/components/Editor.tsx
  src/components/Layout.tsx
Due: prettier-eslint --write

Notes added by 'git notes add'
  b56f4d8942929bd985857c9d924ac64df59b24f8
Due: none

fix: onlyChildren display
  src/components/Design.tsx
Due: prettier-eslint --write

Notes added by 'git notes add'
  4c8e6130eb677307ca06faebec3755b21125de8b
Due: none

fix: children render twice
  src/components/Design.tsx
Due: prettier-eslint --write

Notes added by 'git notes add'
  6bb7c869ebe4e2bda6ba2beb528c1a7f943a3b84
Due: none

fix: support children prop in zero block
  src/components/Design.tsx
  src/components/Editor.tsx
Due: prettier-eslint --write

Notes added by 'git notes add'
  2ee7e00184ce858c50b3fb4e4776d539f1ec3c83
Due: none

feat: support i18n
  .vscode/settings.json
  example/index.tsx
  src/components/Design.tsx
  src/components/Editor.tsx
  src/components/common/Operators.tsx
  src/components/common/UploadBox.tsx
  src/locale/format.ts
  src/locale/index.ts
  src/locale/lang/en.ts
  src/locale/lang/ja.ts
  src/tools/background/components/Colours.tsx
  src/tools/background/components/Images.tsx
  src/tools/background/components/Panel.tsx
  src/tools/background/index.tsx
Due: prettier-eslint --write

Notes added by 'git notes add'
  0a31e6c55f853d4839f4dbb675429a9a508869b8
Due: none

feat: support multiple child
  src/components/Design.tsx
  src/components/Editor.tsx
  src/components/ToolBar.tsx
  src/locale/lang/en.ts
  src/tools/background/index.tsx
  src/tools/custom/index.tsx
  src/tools/custom/types.ts
  src/tools/resize/index.tsx
Due: prettier-eslint --write
