Repository mtctech/picex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, stylelint

.lintstagedrc.json:

{
	"*.{ts,tsx,js,jsx,json}": "prettier-eslint --write",
	"*.{css,scss,sass,less}": "stylelint"
}

Notes added by 'git notes add'
  81a711884831c5d50710c0e6f44688c3e5f07ece
Due: none

fix: avoid loop watermark render
  src/hooks/useWaterMark.ts
Due: prettier-eslint --write

fix: support editor reset
  src/components/Design.tsx
  src/components/Layout.tsx
Due: prettier-eslint --write

docs: example for clear
  example/index.tsx
  tailwind.config.ts
Due: prettier-eslint --write

Notes added by 'git notes add'
  cbdf6a9df952e959706139a318dbf2369992699f
Due: none

fix: support custom name of bg tool
  src/tools/background/index.tsx
  src/tools/background/types.ts
Due: prettier-eslint --write

fix: correct styles
  src/components/Design.css
  src/components/Design.tsx
  src/components/common/HistoryBtns.tsx
  src/components/common/Operators.tsx
  src/tools/background/components/Panel.tsx
  src/tools/background/index.css
Due: prettier-eslint --write, stylelint

fix: unselectable for colour bg
  src/blocks/Background.ts
  src/blocks/mixins/hover.ts
Due: prettier-eslint --write

fix: support object:add/remove history
  src/blocks/Background.ts
  src/components/common/Canvas.tsx
  src/core/history.ts
Due: prettier-eslint --write

Notes added by 'git notes add'
  40eb7bda89086b29a414f26fd3ef268af6bf8e1b
Due: none

fix: support picking color
  package.json
  pnpm-lock.yaml
  src/tools/background/components/Colours.tsx
Due: prettier-eslint --write

fix: problems switch between colour and image of bg tool
  src/blocks/Background.ts
  src/core/reducer.ts
  src/tools/background/components/Colours.tsx
Due: prettier-eslint --write

Notes added by 'git notes add'
  e61ab5ca3d2a046ce3c7451a664a7a83b356ba4b
Due: none

fix: scaled watermark display partly
  src/blocks/WaterMark.ts
Due: prettier-eslint --write

Notes added by 'git notes add'
  40e8f69925ff7623d73c3a47d7f5beab5e3a7d5c
Due: none

fix: viewport size fit to max size
  src/components/Design.tsx
  src/utils/scale.ts
Due: prettier-eslint --write

fix: warnings of add object from another canvas
  src/blocks/WaterMark.ts
Due: prettier-eslint --write

fix: avoid setState in sub component while editor rendering
  src/components/common/HistoryBtns.tsx
Due: prettier-eslint --write

fix: undo/redo for image background
  src/blocks/Background.ts
Due: prettier-eslint --write

fix: correct input image/viewport scale by radio
  example/index.tsx
  src/utils/scale.ts
Due: prettier-eslint --write

Notes added by 'git notes add'
  c62193b2dcf127ce349b1493b307dfedccb8160c
Due: none

fix: keep natural size from viewport for downloaded image
  src/components/Design.tsx
  src/core/context.ts
  src/core/reducer.ts
  src/hooks/useDownload.ts
Due: prettier-eslint --write

chore: add sourcemap
  vite.config.mts
Due: none

fix: watermark not render occasionally
  src/blocks/WaterMark.ts
  src/components/common/Canvas.tsx
  src/hooks/useWaterMark.ts
Due: prettier-eslint --write

Notes added by 'git notes add'
  1faf1adbb111ba643cfdbe249e63306a73eab5ba
Due: none

fix: support removing colour and image cache
  src/tools/background/components/Colours.tsx
  src/tools/background/components/Images.tsx
Due: prettier-eslint --write

Notes added by 'git notes add'
  addcb8c2fada19df6fcfaad9602318ec10b13e1e
Due: none

fix: correct history btns position
  src/components/common/HistoryBtns.tsx
Due: prettier-eslint --write

fix: widen download btn to avoid upload btn shaking
  src/components/common/Operators.tsx
Due: prettier-eslint --write

Notes added by 'git notes add'
  41e0b48c214b7cdaa2583f12b4a059dcd06b93e4
Due: none

fix: support dark mode
  src/components/Layout.tsx
  src/components/ToolBar.css
  src/tools/background/components/Colours.tsx
  src/tools/background/index.css
  tailwind.config.ts
Due: prettier-eslint --write, stylelint

Notes added by 'git notes add'
  e0f1e4d259d62cf71ba7d6516d18fd68f63d3efe
Due: none

fix: correct download result by scaling objects
  src/hooks/useDownload.ts
  src/utils/scale.ts
Due: prettier-eslint --write

Notes added by 'git notes add'
  7db435f143216445d9a57372a36d1ca69bd11abb
Due: none

fix: avoid duplicated tailwind css
  src/components/ToolBar.css
  src/tools/background/index.css
Due: stylelint

Notes added by 'git notes add'
  8a38a0119ef65364a19660d00b6990e78c7a3525
Due: none

fix: default opacity=1 for color picker
  package.json
  pnpm-lock.yaml
  src/tools/background/components/Colours.tsx
Due: prettier-eslint --write

fix: auto scroll panel of bg tool
  src/components/ToolBar.css
  src/components/ToolBar.tsx
  src/tools/background/components/Panel.tsx
Due: prettier-eslint --write, stylelint

fix: transparent colour display err for dark mode
  example/index.html
  src/tools/background/components/Colours.tsx
Due: prettier-eslint --write

Notes added by 'git notes add'
  00a6c8c969710fc424cdcc1f6ff5dc4666df4faf
Due: none
