Repository mtctech/picex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, stylelint

.lintstagedrc.json:

{
	"*.{ts,tsx,js,jsx,json}": "prettier-eslint --write",
	"*.{css,scss,sass,less}": "stylelint"
}

feat: anatomy of picex
  package.json
  pnpm-lock.yaml
  src/blocks/Canvas.ts
  src/blocks/Image.ts
  src/blocks/WaterMark.ts
  src/blocks/index.ts
  src/blocks/types.ts
  src/components/BlockTree.tsx
  src/components/Canvas.tsx
  src/components/Editor.tsx
  src/components/Layout.tsx
  src/components/Properties.tsx
  src/components/ToolBar.tsx
  src/core/context.ts
  src/index.ts
  src/tools/background/index.ts
  src/tools/resize/index.ts
  src/tools/types.ts
Due: prettier-eslint --write

chore: vite dev
  index.html
  package.json
  pnpm-lock.yaml
Due: prettier-eslint --write

chore: dev by vite and postcss/tw/svgr plugins
  .eslintrc.js
  .lintstagedrc.json
  example/index.css
  example/index.html
  example/index.tsx
  index.html
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  tailwind.config.ts
  vite.config.ts
Due: prettier-eslint --write, stylelint

feat: basic layout & UI
  src/components/Canvas.tsx
  src/components/Design.tsx
  src/components/Editor.tsx
  src/components/Layout.tsx
  src/components/ToolBar.tsx
  src/components/common/Canvas.tsx
  src/components/common/UploadBox.tsx
  src/core/context.ts
  src/index.ts
  src/tools/background/icon.svg
  src/tools/background/index.ts
  src/tools/index.ts
  src/tools/resize/index.ts
  src/tools/types.ts
Due: prettier-eslint --write

feat: init background tool
  example/index.html
  package.json
  pnpm-lock.yaml
  src/blocks/Canvas.ts
  src/components/Layout.tsx
  src/components/ToolBar.css
  src/components/ToolBar.tsx
  src/components/common/UploadBox.tsx
  src/core/context.ts
  src/core/reducer.ts
  src/global.d.ts
  src/tools/background/components/Colours.tsx
  src/tools/background/components/Images.tsx
  src/tools/background/components/Panel.tsx
  src/tools/background/icon.svg
  src/tools/background/index.ts
  src/tools/background/index.tsx
  src/tools/resize/index.tsx
  src/tools/types.ts
  vite.config.ts
Due: prettier-eslint --write, stylelint

feat: support classname util
  package.json
  pnpm-lock.yaml
  src/utils/cn.ts
Due: prettier-eslint --write

feat: basic images UI
  src/tools/background/components/Images.tsx
  src/tools/background/components/Panel.tsx
  src/tools/background/index.css
  src/tools/background/index.tsx
  src/utils/image.ts
Due: prettier-eslint --write, stylelint

chore: support tsconfig paths resolve
  package.json
  pnpm-lock.yaml
  vite.config.mts
Due: prettier-eslint --write

feat: basic UI of design
  example/index.css
  example/index.html
  example/index.tsx
  src/components/Design.tsx
  src/components/Layout.tsx
  src/components/common/UploadBox.tsx
  src/images/redo.svg
  src/images/undo.svg
Due: prettier-eslint --write, stylelint

feat: init blocks & watermark to display
  package.json
  pnpm-lock.yaml
  src/blocks/Canvas.ts
  src/blocks/Image.ts
  src/blocks/WaterMark.ts
  src/blocks/types.ts
  src/components/Design.tsx
  src/components/Editor.tsx
  src/components/common/Canvas.tsx
  src/components/common/UploadBox.tsx
  src/core/context.ts
  src/core/reducer.ts
  src/hooks/useWaterMark.ts
  src/utils/image.ts
Due: prettier-eslint --write

feat: default transparent background of canvas
  src/blocks/Canvas.ts
  src/utils/image.ts
Due: prettier-eslint --write

feat: upload a new image
  src/components/Design.tsx
  src/components/common/Canvas.tsx
  src/components/common/Operators.tsx
  src/components/common/UploadBox.tsx
Due: prettier-eslint --write

feat: support download
  package.json
  pnpm-lock.yaml
  src/blocks/Canvas.ts
  src/components/common/Operators.tsx
  src/hooks/useDownload.ts
Due: prettier-eslint --write

test: add watermark props
  example/index.tsx
Due: prettier-eslint --write

feat: adjust setting background color
  src/blocks/WaterMark.ts
  src/components/common/Canvas.tsx
  src/core/context.ts
  src/core/reducer.ts
  src/tools/background/components/Colours.tsx
Due: prettier-eslint --write

feat: support background image
  src/blocks/types.ts
  src/tools/background/components/Images.tsx
Due: prettier-eslint --write

refactor: static canvas -> interactable
  example/index.html
  src/blocks/Background.ts
  src/blocks/Canvas.ts
  src/blocks/Image.ts
  src/blocks/Viewport.ts
  src/blocks/WaterMark.ts
  src/blocks/index.ts
  src/blocks/types.ts
  src/components/Design.tsx
  src/components/Editor.tsx
  src/components/Layout.tsx
  src/components/common/Canvas.tsx
  src/core/context.ts
  src/core/reducer.ts
  src/global.d.ts
  src/hooks/useDownload.ts
  src/hooks/useWaterMark.ts
  src/tools/background/components/Colours.tsx
  src/tools/background/components/Images.tsx
  src/tools/background/components/Panel.tsx
  src/utils/consts.ts
  src/utils/scale.ts
Due: prettier-eslint --write

feat: basic interatable for background and image block
  src/blocks/Background.ts
  src/blocks/Image.ts
  src/blocks/Viewport.ts
  src/blocks/WaterMark.ts
  src/blocks/index.ts
  src/blocks/mixins/hover.ts
  src/blocks/utils.ts
  src/components/common/Canvas.tsx
Due: prettier-eslint --write

feat: adjust download
  src/blocks/Viewport.ts
  src/components/Design.tsx
  src/components/common/Operators.tsx
  src/hooks/useDownload.ts
Due: prettier-eslint --write

feat: support init from props
  src/components/Design.tsx
  src/components/Editor.tsx
  src/core/context.ts
Due: prettier-eslint --write

chore: library build config
  .gitignore
  package.json
  pnpm-lock.yaml
  vite.config.mts
Due: prettier-eslint --write

fix: avoid init effect cycle
  src/components/Design.tsx
Due: prettier-eslint --write

chore: pin antd@5 to avoid duplication
  package.json
Due: prettier-eslint --write

feat: support sepecifc filename, format of download file
  src/components/Design.tsx
  src/components/Editor.tsx
  src/components/common/Operators.tsx
  src/hooks/useDownload.ts
Due: prettier-eslint --write

feat: allow custom children before blocks init
  src/components/Design.tsx
  src/components/common/HistoryBtns.tsx
Due: prettier-eslint --write

feat: support hiding upload btn
  src/components/common/Operators.tsx
  src/components/common/UploadBox.tsx
Due: prettier-eslint --write

fix: failed to change background color
  src/blocks/index.ts
  src/core/context.ts
  src/core/reducer.ts
  src/tools/background/components/Colours.tsx
Due: prettier-eslint --write

fix: cannot export traint canvas
  example/index.tsx
  src/core/reducer.ts
Due: prettier-eslint --write

feat: support history
  src/blocks/Background.ts
  src/blocks/Image.ts
  src/blocks/Viewport.ts
  src/blocks/WaterMark.ts
  src/blocks/types.ts
  src/blocks/utils.ts
  src/components/common/Canvas.tsx
  src/components/common/HistoryBtns.tsx
  src/core/context.ts
  src/core/history.ts
  src/core/reducer.ts
Due: prettier-eslint --write

fix: custom upload props
  src/components/Editor.tsx
Due: prettier-eslint --write

chore: dts output
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.mts
Due: prettier-eslint --write

feat: add prop to control visibility of histroy btns
  src/components/Design.tsx
  src/components/Editor.tsx
Due: prettier-eslint --write

feat: optimaze interaction of background tool
  src/tools/background/components/Colours.tsx
  src/tools/background/components/Images.tsx
  src/tools/background/components/Panel.tsx
  src/tools/background/index.tsx
  src/tools/background/types.ts
Due: prettier-eslint --write

feat: adjust history by uuid/status check
  package.json
  pnpm-lock.yaml
  src/blocks/Background.ts
  src/blocks/Image.ts
  src/blocks/Viewport.ts
  src/blocks/WaterMark.ts
  src/blocks/types.ts
  src/components/common/Canvas.tsx
  src/core/history.ts
  tsconfig.json
Due: prettier-eslint --write

chore: add github actions
  .github/workflows/release.yml
  package.json
  release.config.mjs
Due: prettier-eslint --write

chore: pnpm setup
  .github/workflows/release.yml
Due: none

chore: setup before setup node
  .github/workflows/release.yml
Due: none

chore: correct NPM_TOKEN
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  6e22f265575fc0d31757fd7c680600ec4221ea52
Due: none

fix: cannot change background and auto fit width/height
  src/blocks/Background.ts
  src/tools/background/components/Images.tsx
Due: prettier-eslint --write
